<% if comment.persisted? %>
  <div id="<%= dom_id comment, dom_id(comment.post) %>">
    <%= comment.body %>
    <%= link_to 'edit', edit_post_comment_path(comment.post, comment), data: { turbo_stream: true } %>
    <%= link_to 'destory', [comment.post, comment], data: { turbo_method: :delete } %>
  </div>
<% end %>