<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div id='nav'>
  <%= link_to 'About', '/about', data: { turbo_stream: true } %>
</div>

<h1 class="animate__animated animate__bounce">An animated element</h1>